<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:frgment="head">
    <meta charset="UTF-8">
    <title>TOrder</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<nav th:fragment="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">Torder-Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a th:href="@{/login}" type="button" class="btn btn-outline-dark">로그인</a>
            <button class="btn btn-outline-dark ml-2" type="submit">
                <i class="bi-cart-fill me-1"></i>장바구니<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </div>
    </div>
</nav>
